<form action='/api/charge' method='POST' id='checkout-form' xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
  <script async
          src="https://js.stripe.com/v3/buy-button.js">
  </script>

  <stripe-buy-button
          buy-button-id="buy_btn_1NMi7eEeRjQ2hTl6W5FlOBqD"
          publishable-key="pk_live_51MvAbYEeRjQ2hTl6lemynrbpd4oeFNcakU4dwbNlLLx7EBJzfWnROBBWBUXeiIzcXJMHXSh7y8CqHFLmA6LXDhGy000PtjBrju"
  >
  </stripe-buy-button>
</form>