<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>评论页面</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
<h1>欢迎来到评论区</h1>
<form>
  <label>用户名：</label>
  <input type="text" name="username"><br>
  <label>评论内容：</label>
  <textarea name="comment"></textarea><br>
  <input type="submit" value="提交">
</form>
<div class="comment-list">
  <div class="comment">
    <div class="avatar"><img src="avatar.jpg"></div>
    <div class="comment-info">
      <div class="username">用户名</div>
      <div class="time">2023年2月27日 14:30</div>
    </div>
    <div class="comment-content">评论内容</div>
  </div>
  <!-- 更多评论 -->
</div>
<div class="pager">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
</div>
</body>
</html>