
// Helpline messages
b_help = "粗体: [b]文本[/b]  (alt+b)";
i_help = "斜体: [i]文本[/i]  (alt+i)";
u_help = "下滑线: [u]文本[/u]  (alt+u)";
q_help = "引言回复: [quote]文本[/quote]  (alt+q)";
c_help = "程序代码: [code]程序代码[/code]  (alt+c)";
l_help = "列表: [list]文本[/list] (alt+l)";
p_help = "插入图片: [img]http://wwww.xxxx.com/img.ext[/img]  (alt+p)";
w_help = "插入 URL: [url]http://url[/url] / [url=http://url]URL加下滑线[/url]  (alt+w)";
a_help = "关闭所有开启的 BBCode 标签";
s_help = "文字颜色: [color=red]文本[/color]  提示: 也可使用 color=#FF0000";
f_help = "字型大小: [size=x-small]小号文件[/size]";
g_help = "Google: [google]一个搜索关键词[/google]";
y_help = "Youtube: [youtube]Youtube video URL[/youtube]";
k_help = "Flash: [flash]Flash movie URL[/flash]";
v_help = "WMV: [wmv]WMV video URL[/wmv]";
function showEmail(beforeAt, afterAt)
{
return beforeAt + "@" + afterAt;
}

var starOn = new Image();
starOn.src = "/c/templates/default/images/star_on.gif";

var starOff = new Image();
starOff.src = "/c/templates/default/images/star_off.gif";

function writeStars(q, postId)
{
for (var i = 0; i < 5; i++) {
var name = "star" + postId + "_" + i;
document.write("<img name='" + name + "' alt='*' />");
document.images[name].src = q > i ? starOn.src : starOff.src;
}
}

function addBookmark(relationType, relationId)
{
var w = window.open('/c/bookmarks/insert/' + relationType + '/' + relationId + '.page', 'bookmark_add', 'width=700, height=200, scrollbars=auto, resizable=true');
w.focus();
}
var panelOpen = false;
var total = 0;
var ignoreStart = false;
var maxAttachments = 10;
var counter = 0;

var template = "<div id='attach_#counter#'><table width='100%' class='gensmall'><tr><td>文件名称</td>";
    template += "<td><input type='file' size='50' name='file_#counter#'></td></tr>";
    template += "<tr><td>描述</td>";
        template += "<td><input type='text' name='comment_#counter#' size='50'>";
            template += "&nbsp;&nbsp;<a href='javascript:removeAttach(#counter#)' class='gensmall'>[删除]</a></td></tr>";
    template += "</table><div style='border-top: 1px dashed #000;'>&nbsp;</div></div>";

function addAttachmentFields()
{
if (counter < maxAttachments) {
var s = template.replace(/#counter#/g, total);
$("#attachmentFields").append(s);
$("#total_files").val(++total);

counter++;

defineAttachmentButtonStatus();
}
}

function removeAttach(index)
{
$("#attach_" + index).empty();
counter--;
defineAttachmentButtonStatus();
}

function defineAttachmentButtonStatus()
{
var disabled = !(counter < maxAttachments);
document.post.add_attach.disabled = disabled;
document.post.add_attach.style.color = disabled ? "#cccccc" : "#000000";
}

