<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="t_fsz">
    <table cellspacing="0" cellpadding="0"><tbody><tr><td class="t_f" id="postmessage_18510177" itemprop="articleBody">
        <div class="quote"><blockquote><font size="2"><a href="forum.php?mod=redirect&amp;goto=findpost&amp;pid=18510154&amp;ptid=990958" target="_blank"><font color="#999999">beetle 发表于 2023-04-26 06:44:15</font></a></font><font class="jammer"></font><br>
            不是你爸自己说遗失的吗？</blockquote></div>护照挂失按理说是需要当事人去公安局办理，比如核对身份填一些paperwork。<font class="jammer"></font><br>
        <font class="jammer"></font><br>
        我爸这事反映的是，随口一说丢了，别人（医院人事部人员，非公安局管事人员）就可以替他挂失护照。</td></tr></tbody></table>
    <tr>
        <td class="pls"></td>
        <td class="plc" style="overflow:visible;">
            <div class="po hin">
                <div class="pob cl">
                    <em>
                        <a class="fastre" href="forum.php?mod=post&amp;action=reply&amp;fid=29&amp;tid=990958&amp;repquote=18510177&amp;extra=&amp;page=1" onclick="showWindow('reply', this.href)">回复</a>
                        <div style="display: none">
                            <a class="replyadd" href="forum.php?mod=misc&amp;action=postreview&amp;do=support&amp;tid=990958&amp;pid=18510177&amp;hash=f774580d" onclick="ajaxmenu(this, 3000, 1, 0, '43', '');return false;" onmouseover="this.title = ($('review_support_18510177').innerHTML ? $('review_support_18510177').innerHTML : 0) + ' 人 支持'">支持 <span id="review_support_18510177">42</span></a>
                            <a class="replysubtract" href="forum.php?mod=misc&amp;action=postreview&amp;do=against&amp;tid=990958&amp;pid=18510177&amp;hash=f774580d" onclick="ajaxmenu(this, 3000, 1, 0, '43', '');return false;" onmouseover="this.title = ($('review_against_18510177').innerHTML ? $('review_against_18510177').innerHTML : 0) + ' 人 反对'">反对 <span id="review_against_18510177">0</span></a>
                        </div>
                    </em>
                    <p>
                        <a href="javascript:;" id="mgc_post_18510177" onmouseover="showMenu(this.id)" class="showmenu" style="display: none;"></a>
                        <a href="home.php?mod=space&amp;do=friend&amp;view=blacklist&amp;bname=aggie2020" target="_blank">拉黑</a>
                        <a href="javascript:;" onclick="showWindow('miscreport18510177', 'misc.php?mod=report&amp;rtype=post&amp;rid=18510177&amp;tid=990958&amp;fid=29', 'get', -1);return false;">举报</a>
                    </p>
                    <ul id="mgc_post_18510177_menu" class="p_pop mgcmn" style="display: none;">
                    </ul>
                    <script type="text/javascript" reload="1">checkmgcmn('post_18510177')</script>
                </div>
            </div>
        </td>
    </tr>
</div>
</body>
</html>