<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Email Validation</h1>
    <div class="border border-secondary rounded p-3">
        <div>
            <img src="/IMAGE/email_verified.png" alt="Email Validation Image">
            <p>Your email has already been confirmed. You can now login to NYBing.</p>
        </div>
    </div>
</div>
</body>
</html>

